/* ------------------------- */

/*       Basic Setup         */

/* ------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------- */

/* Reusable Components       */

/* ------------------------- */

/*  Headings */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    color: #FFF;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin: 10px;
}

h4 {
    font-size: 80%;
    letter-spacing: 1px;
    margin: 5px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    color: #e67e22;
    font-size: 120%;
    margin-left: 8px;
    margin-right: -3px;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* Alert Message */

.hidden {
    display: none;
}

input[type=checkbox]+label {
    position: absolute;
}

input[type=checkbox]:checked+label {
    animation: closing 0.2s forwards ease-in-out, moving 0.2s forwards ease-in-out;
}

.pointer-cursor {
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    cursor: hand;
}

.pointer-cursor i {
    font-size: 30px;
    color: #FFF;
}

.close {
    float: right;
    color: #FFF;
    cursor: pointer;
    cursor: hand;
    font-size: 25px;
}

.alert-message {
    background-color: #f2dede;
    border: 1px solid rgba(52, 73, 95, 0.25);
    color: #b94b45;
    text-align: center;
    border-radius: 3px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .8);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .6);
    background: rgba(52, 73, 94, 0.69);
    z-index: 999;
}

@keyframes closing {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moving {
    0%, 90% {
        top: 0;
        left: 0;
    }
    100% {
        top: -100px;
        left: 0;
    }
}

/* ------------------------- */

/*      Front Page           */

/* ------------------------- */

/* Header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('http://cdn.wuhanstudio.cc/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header p {
    color: #FFF;
}

.profile-photos {
    border-radius: 50%;
}

.hero-text-box {
    position: absolute;
    width: 80%;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.profile-box {
    position: absolute;
    width: 120px;
    top: 10%;
    left: 45%;
}

.profile-box img {
    width: 80%;
    margin-left: 10%;
}

.profile-box p {
    text-align: center;
}

.motto {
    animation-delay: 1s;
    animation-duration: 1s;
}

/*  Next Arrow  */

.next-box {
    width: 100px;
}

.next-box a {
    opacity: 0;
    position: absolute;
    padding: 2% 10%;
    border: 2px solid #FFF;
    left: 38%;
    top: 88%;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 49%;
    top: 90%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 1.5s 2.5s ease-in-out infinite;
}

.arrow-second {
    animation-delay: 1.7s;
    animation: arrow-movement 1.5s 3.3s ease-in-out infinite;
}

.arrow:before, .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

.arrow-reverse {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-reverse-first {
    animation: arrow-reverse-movement 1.5s 2.5s ease-in-out infinite;
}

.arrow-reverse-second {
    animation-delay: 1.7s;
    animation: arrow-reverse-movement 1.5s 3.3s ease-in-out infinite;
}

.arrow-reverse:before, .arrow-reverse:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 30px;
}

.arrow-reverse:before {
    transform: rotate(45deg) translateX(-9%) translateY(-0%);
    transform-origin: top left;
}

.arrow-reverse:after {
    transform: rotate(135deg) translateY(0%);
    transform-origin: top left;
}

/*  Arrow Animation */

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrow-reverse-movement {
    0% {
        opacity: 0;
        bottom: 5%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*  Horizontal Navigation Dot */

.horizonBar {
    text-align: center;
}

.fp-slidesNav.bottom {
    bottom: 25px;
}

/* ------------------------- */

/*    Graduation Projects    */

/* ------------------------- */

/*           Focus           */

.mfp-hide {
    display: none;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.button {
    position: relative;
    float: right;
    width: 60%;
    padding: 8px 0px;
    border: 2px solid #fff;
    font-size: 12px;
    font-size: 1.4rem;
    font-family: "museo-sans", Arial, Verdana;
    font-weight: 500;
    margin-top: -10%;
    margin-right: 15%;
    z-index: 2;
}

.button {
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;
}

.button .fa {
    margin-left: 20px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.focus .close {
    color: black;
}

.focus .pointer-cursor i {
    font-size: 28px;
    color: #000;
}

.focus .alert-message {
    width: 50%;
    border: 1px solid rgba(52, 73, 94, 0.25);
    color: rgba(0, 0, 0, .8);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .1);
    background: rgba(254, 254, 254, 0.219);
}

.section-graduation .focus img {
    float: right;
    width: 60%;
    filter: brightness(0.95);
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
    margin-right: 15%;
}

.focus-small {
    display: none;
}

.bicover-small {
    display: none;
}

.section-graduation .main-intro {
    margin-top: 14%;
    margin-right: 0;
    padding-right: 5%;
}

/* ----- TITILE ----- */

.title-text-box {
    width: 100%;
}

.section-graduation h1 {
    color: #000;
}

/* ----- LINKS ----- */

.section-graduation a:link, .section-graduation a:visited {
    color: #FFF;
    text-decoration: none;
    transition: border-bottom 0.2s, color 0.2s;
}

.section-graduation a:hover, .section-graduation a:active {
    color: #DDD;
}

/* ----- BUTTONS ----- */

.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, color 0.2s;
}

.btn-full:link, .btn-full:visited {
    background-color: #0000FF;
    color: #fff;
    margin-right: 15px;
}

.btn {
    margin-top: 8%;
    margin-left: 45%;
}

/*        Bicover          */

.section-graduation .bicover h1 {
    margin-top: 40%;
}

.section-graduation .bicover img {
    float: right;
    width: 75%;
    filter: brightness(0.95);
    /* border-radius: 10px; */
    /* box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6); */
    margin-top: 10%;
    margin-right: 15%;
}

.bicover .alert-message {
    width: 50%;
    position: absolute;
    left: 50%;
    border: 1px solid rgba(52, 73, 95, 0.25);
    color: rgba(0, 0, 0, .8);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .1);
    background: rgba(254, 254, 254, 0.219);
}

.bicover .pointer-cursor {
    width: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    cursor: pointer;
    cursor: hand;
}

.bicover .pointer-cursor i {
    position: absolute;
    left: 2%;
    font-size: 28px;
    color: #000;
}

.bicover .alert-message .close {
    float: right;
    color: #000;
    cursor: pointer;
    cursor: hand;
}

.bicover input[type=checkbox]:checked+label {
    animation: closing 0.2s forwards ease-in-out, bc_moving 0.2s forwards ease-in-out;
}

@keyframes bc_moving {
    0%, 90% {
        top: 0;
        left: 50%;
    }
    100% {
        top: -100px;
        left: 50%;
    }
}

/* ------------------------- */

/*       Side Projects       */

/* ------------------------- */

input {
    border-style: none;
    background: transparent;
    outline: none;
}

button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 89%;
    height: 100vh;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@keyframes gradient {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 100% 0
    }
}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 0.3rem 1.5rem 0.3rem;
    background: rgba(57, 63, 84, 0.8);
}

.webflow-style-input::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.webflow-style-input input {
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 0.9rem;
    line-height: 1.2rem;
    vertical-align: middle;
}

.webflow-style-input button {
    color: #7881A1;
    font-size: 1rem;
    line-height: 2rem;
    vertical-align: middle;
    transition: color .25s;
}

.webflow-style-input button:hover {
    color: #BFD2FF;
}

.section-side .alert-message {
    width: 100%;
}

.section-side h1 {
    position: absolute;
    left: 20%;
    top: 35%;
}

.section-side ul {
    position: absolute;
    left: 42%;
    margin-top: 5px;
    font-size: 110%;
    width: 200px;
    padding-top: 20px;
    /* border-top:#F0F0F0 solid 1px; */
}

.section-side li {
    list-style: none;
    margin-bottom: 10px;
    color: #D0D0D0;
}

.section-side img {
    opacity: 0.7;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ------------------------- */

/*        TPL Cloud          */

/* ------------------------- */

.section-tplcloud {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../img/TPLCloud.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-tplcloud h1 {
    position: absolute;
    left: 35%;
    bottom: 50%;
}

.section-tplcloud h2 {
    position: absolute;
    width: 48%;
    bottom: 18%;
    left: 30px;
    text-transform: none;
    background: rgba(255, 255, 255, 0.75);
    padding: 4px 8px;
    color: black;
    margin: 0;
    font-size: 18px;
    text-align: left;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    line-height: 180%;
}

.icon-coming {
    color: #AFAFAF;
    letter-spacing: 2px;
    position: absolute;
    left: 35%;
    bottom: 3%;
    font-size: 90%;
}

.icon-coming i {
    margin-left: 20px;
}

/* ------------------------- */

/*         Profile           */

/* ------------------------- */

.avatar {
    width: 94%;
    border-bottom: #333 solid 2px;
    padding-bottom: 0;
    margin-top: 3%;
    font-size: 120%;
    margin-left: 3%;
}

.avatar div:first-child {
    text-align: left;
}

.avatar div:last-child {
    text-align: right;
}

.intro {
    width: 96%;
    margin: 2%;
}

.skill-box {
    background-color: #fff;
    border-radius: 5px;
    width: 92%;
    height: 500px;
    margin-left: 3%;
    box-shadow: 0 2px 2px #efefef;
}

.skill-box ul {
    list-style: none;
}

.skill-box div:first-child {
    background-color: #f8f8f8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1%;
    text-align: center;
}

.avatar img {
    position: absolute;
    width: 8%;
    top: 2%;
    left: 45%;
    border-radius: 50%;
}

.skill-box p {
    padding: 2%;
    margin: 3% 5%;
    font-size: 94%;
    /* font-style: italic; */
    text-align: justify;
    line-height: 142%;
    word-spacing: 1px;
    background-color: #fff;
    font-weight: 400;
}

blockquote {
    padding: 2%;
    font-size: 85%;
    font-style: italic;
    text-align: center;
    line-height: 145%;
    position: relative;
    word-spacing: 2px;
    background-color: #f8f8f8;
}

#skill {
    list-style: none;
    width: 90%;
    margin: 6% auto 0;
    position: relative;
    line-height: 2em;
    padding: 3% 0;
}

#skill li {
    margin-top: 15%;
    background: #e9e5e2;
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li h4 {
    position: relative;
    top: -35px;
}

#skill li:first-child {
    margin-top: 6%;
}

.bar {
    height: 16px;
    opacity: 0.8;
    margin: 1px 2px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.machine-design {
    width: 40%;
    animation: machine-design 2s ease-out;
    background-color: #f674a4;
    background-image: linear-gradient(top, #f674a4, #e06995);
}

.embedded-prog {
    width: 65%;
    animation: embedded-prog 2s ease-out;
    background-color: #f0bb4b;
    background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.software-dev {
    width: 75%;
    animation: software-dev 2s ease-out;
    background-color: #f5f107;
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.machine-learning {
    width: 50%;
    animation: machine-learning 2s ease-out;
    background-color: #a1ce5b;
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

.simulation {
    width: 30%;
    animation: simulation 2s ease-out;
    background-color: #66b3cc;
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

.others {
    width: 0%;
    /* animation: simulation 2s ease-out; */
    background-color: #66b3cc;
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

@keyframes machine-design {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes embedded-prog {
    0% {
        width: 0px;
    }
    100% {
        width: 90%;
    }
}

@keyframes software-dev {
    0% {
        width: 0px;
    }
    100% {
        width: 65%;
    }
}

@keyframes machine-learning {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

@keyframes simulation {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

/* ------------------------- */

/*         Footer            */

/* ------------------------- */

.footer {
    width: 100%;
    background-color: #333;
    font-size: 80%;
}

.hust {
    float: left;
    margin-left: 5%;
    width: 80%;
}

.tpl {
    float: right;
    margin-right: 8%;
    width: 70%;
}

.back-box {
    width: 80%;
    margin-top: 5%;
    margin-left: 15%;
}

.back-box a {
    opacity: 0;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5% 30%;
}

/* Lazy Load */

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}