/* ------------------------- */

/* Basic setup               */

/* ------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------- */

/* Reusable Components       */

/* ------------------------- */

/*  Headings */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    color: #FFF;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header p {
    color: #FFF;
}

.profile-photos {
    border-radius: 50%;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.profile-box {
    position: absolute;
    width: 120px;
    top: 10%;
    left: 45%;
}

.profile-box p {
    text-align: center;
}

.motto {
    animation-delay: 1s;
    animation-duration: 1s;
}

/*  Arrow  */

.next-box {
    width: 100px;
}

.next-box a {
    opacity: 0;
    position: absolute;
    height: 100px;
    left: 47%;
    top: 90%;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 49%;
    top: 95%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 1.5s 2.5s ease-in-out infinite;
}

.arrow-second {
    animation-delay: 1.7s;
    animation: arrow-movement 1.5s 3.3s ease-in-out infinite;
}

.arrow:before, .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

.arrow-reverse {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 30%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-reverse-first {
    animation: arrow-reverse-movement 1.5s 2.5s ease-in-out infinite;
}

.arrow-reverse-second {
    animation-delay: 1.7s;
    animation: arrow-reverse-movement 1.5s 3.3s ease-in-out infinite;
}

.arrow-reverse:before, .arrow-reverse:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow-reverse:before {
    transform: rotate(45deg) translateX(-9%) translateY(-0%);
    transform-origin: top left;
}

.arrow-reverse:after {
    transform: rotate(135deg) translateY(0%);
    transform-origin: top left;
}

/*  Animation */

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 90%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrow-reverse-movement {
    0% {
        opacity: 0;
        top: 60%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*  Horizontal Navigation Dot */

.horizonBar {
    text-align: center;
}

.fp-slidesNav.bottom {
    bottom: 25px;
}

/* Profile */
.intro img{
    width:50%;
}



/* HUST & TPL */
.footer {
    position: absolute;
    width:100%;
    bottom:0;
    background-color: #333;
    font-size: 80%;
}

.hust{
    float: left;
    margin-left: 5%; 
    width:80%;
}

.tpl{
    float: right;
    margin-right: 8%;
    width:70%;
}

.back-box {
    width: 100px;
}

.back-box a {
    opacity: 0;
    position: absolute;
    height: 100px;
    left: 47%;
    top: 0%;
}